{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p><img src={% static 'img/11.jpg' %} alt="Тут должно быть мое фото)"></p>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>
<p>
  *******
</p>
<p>
  Больше люблю код, копаться в том как составить нужную конструкцию для нужного запроса через ORM,
  чем верстку. Поэтому дополнительным заданием для себя поставлю в этом блоке допилить 
  статику и подгрузить на эту страницу свою аватарку, если она уже тут - знаичт я справился со своей задачей минимум по
  допиливанию шаблона, и довольный собой ушел сделать заданиче со звездочкой в подключении
  и кастомизации страниц смены, восстановления пароля :)
</p>
<p>
    *******
</p>
<p>
  Как я попал в it? Нет худа без добра. Я достаточно долго и успешно в HoReCa, очень хорошо разбираюсь в барах и напитках.
  Ковид во многом подкосил сферу. Я прошел курсы и начал рабоать тестировщиком - всегда любил сферу, в целом считаю себя гиком
  и возможноть програмировать казалось чем то вроде мечты. Помощь государства и премия на работе выдаваемая на обучение позволили
  сделать первый шаг на пути к мечте. 
  И вот я тут, джун 28 лет, оканчивающий свой первый год в it в роли QAшника, и пытающийся одновременно освоить программировнаие)
</p>
{% endblock %} 